body {
    margin-top: 10px;
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.6;
    color: var(--blacktext);
    padding: 64px 24px;
    text-align: center;
}

li {
    list-style: none;
}

p {
    text-align: left;
    color: var(--blacktext);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    text-transform: uppercase;
    color: var(--blacktext);
}

.p__article {
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
    color: var(--blacktext);
}