body {
    margin-top: 10px;
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.6;
    color: var(--blacktext);
    text-align: center;
}

main {
    padding: 64px 24px 0px 24px;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

p {
    text-align: left;
    color: var(--blacktext);
}

a {
    color: var(--whitetext);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
    color: var(--blacktext);
}

.p__article {
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
    color: var(--blacktext);
}

article {
    border-top: 295px;
    border-top: 1.25px solid var(--blacktext);
}