img {
    max-width: 100%;
    width: 320px;
    height: 169px;
    display: grid;
}

.imghome {
    display: block;
    margin: 0 auto;
    width: 323px;
    height: 204px;
}

.menuicon {
    width: 96px;
    height: 96px;
}
