:root {

    /* Color styles */
    --yellow: rgba(255, 234, 0, 1);
    --whitetext: rgba(255, 255, 255, 1);
    --white: rgba(242, 242, 242, 1);
    --black: rgba(10, 9, 9, 1);
    --blacktext: rgba(0, 0, 0, 1);
    
    /* Text-size styles */
    /* base size: texte-content (16px) */
    --texte-content: 1rem;
    --titrages: 1.25rem;
    --titres: 1.88rem;
    
    /*Typography styles*/
    --montserrat: 'Montserrat', sans-serif;
    --roboto: 'Roboto', sans-serif;
    
    }