header {
    position: fixed;
    background-color: var(--black);
    width: 100%;
    height: 90px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }

.header__hamburger {
    width: 74px;
    height: 26px;
  }

.header__logo {
  width: 96px;
  height: 96px;
}

.header__language {
  position: absolute;
  top: 25px;
  right: 69px;
  font-size: 24px;
  font-weight: normal;
  color: var(--whitetext);
}

.header__main {
    display:flex;
    justify-content:space-between;
}

.header__icn {
    background: var(--whitetext);
    position: absolute;
    top: 30px;
    left: 20px;
    z-index: 100;
}

.header__menuBtn {
    position: relative;
    z-index: 100;
  }