.shift__page {
    display: inline-flex;
    justify-content: center;
    gap: 15px
}

.shift__page-white {
    background-color: var(--whitetext);
    color: var(--blacktext);
    padding: 4px 50px; 
    border-radius: 20px;   
}

.shift__page-black {
    background-color: var(--blacktext);
    color: var(--whitetext);
    padding: 4px 50px;
    border-radius: 20px;
}

h5 + p + img + p {
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.projects {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.timeline h4 {
    margin-block-end: 0;
    margin-block-start: 0;
}

.timeline p {
    text-align: center;
}

.timeline [alt="arrow down"] {
    width: 22px;
    height: 50px;
    margin: 10px 0 0;
}

.timeline :last-child {
    padding-bottom: 20px;
}
  
  
  
  

  
  
  