.shift__page {
    display: inline-flex;
    justify-content: center;
    gap: 15px
}

.shift__page-white {
    background-color: var(--whitetext);
    color: var(--blacktext);
    padding: 4px 50px; 
    border-radius: 20px;   
}

.shift__page-black {
    background-color: var(--blacktext);
    color: var(--whitetext);
    padding: 4px 50px;
    border-radius: 20px;
}

h5 + p + img + p {
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.projects {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.timeline {
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0;
  }
  
  .timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    background: black;
  }
  
  .timeline > li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    position: relative;
  }
  
  .timeline > li::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
  }
  
  .timeline > li > *:first-child {
    display: flex;
    align-items: center;
    min-width: 80px;
    font-weight: bold;
    margin-right: 20px;
  }
  
  .timeline > li > *:nth-child(2) {
    flex: 1;
  }
  
  .timeline > li > *:last-child {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }