.shift__page {
    display: inline-flex;
    justify-content: center;
    gap: 15px
}

.shift__page-white {
    background-color: var(--whitetext);
    color: var(--blacktext);
    padding: 4px 50px; 
    border-radius: 20px;   
}

.shift__page-black {
    background-color: var(--blacktext);
    color: var(--whitetext);
    padding: 4px 50px;
    border-radius: 20px;
}

h5 + p + img + p {
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.projects {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

  
  
  
  

  
  
  